.header{
  display: flex;
  flex-wrap: wrap;
flex-direction: row;
border: 5%;
min-height: 55px;
background-color: #38a69d;
}

nav {
align-items: center;
display: flex;
flex-wrap: wrap;
width: auto;
height: 100%;
background-color: #38a69d;
  
}
nav a {
height: 40%;
font-size: 15px;
display: flex;
position: relative;
z-index: 1;
text-decoration: none;
text-transform: uppercase;
text-align: center;
color: white;
cursor: pointer;
margin-left: 5%;
}
nav a:hover{
  background-color: #34495e;
  border-radius: 8px;
}
@media screen and (max-width:670px){
.logo {
  width: 100%;
}
.routes {
  width: 100%;
}
.header {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap ;
  width: 100%;
  height: auto;
}
nav { 
  align-items: center;
}

}
/* a:nth-child(1) {
width: 20%;
}
a:nth-child(2) {
width: 20%;
}
a:nth-child(3) {
width: 20%;
}
a:nth-child(4) {
width: 20%;
}
a:nth-child(5){
  width: 20%;
} */
.logo{
  width: 25%;
  justify-self: flex-start;
}
.routes{
  width: 75%;
  align-items: center;
}