*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'K2D',sans-serif;
  }
  
  html, body {
    height: 100%;
    letter-spacing: 1px;
  }
  
  .container{
    display: flex;
    flex-direction: column;
  }

  .main {
    display: flex;
    position: relative;
    margin-top: 2%;
    width: 96%;
    height: 10%;
    right: 2%;
    left: 2%;
    text-align: justify;
  }
  
  .content {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    font-size: 1.2em;
    min-height: 230px;
    background-color: #1e1e2f;
    padding: 20px;
    border-radius: 20px;
  }
  
  .content-title {
    text-align: center;
    font-weight: bold;
    font-size:1.6em;
    color: white;
  }
  
  .content-text {
    font-size:1.15em;
    padding-top: 40px;
    color: white;
  }
  
  /* section.info {
    height: calc(100%-200px);
    position: relative;
  } */
  
  .panel {
    display: flex;
    flex-direction:column;
    position: relative;
    width: 100%;
    min-height: 550px;
    margin-top: 50px;
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;
    background-color: #38A69D;

    
    /* box-shadow: 5px -2px 12px grey; */
  }
  
  .about {
    position:relative;
    width: 30%;
    min-height: 50%;
    margin-left: 12%;
    margin-top: 3%;
    text-align: justify;

  }
  
  .about-text {
    color: white;
    font-size: 15px;
    /* font-weight: bold; */
  }
  
  .image {
    position: absolute;
    top: 5%;
    left: 53.5%;
    min-width: 200px;
  }
  
  .image-img {
    width: 100%;
    border-top-right-radius: 20px;
  }
  
  .image-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 99.5%;
    background: rgba(0,0,0,0.4);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-top-right-radius: 20px;
    opacity: 0;
    transition: opacity 0.25s;
  }
  
  .image-overlay-blur {
    backdrop-filter: blur(5px);
  }
  
  .image-overlay > * {
    transform: translateY(20px);
    transition: transform 0.25s;
  }
  
  .image-overlay:hover {
    opacity: 1;
  }
  
  .image-overlay:hover > * {
    transform: translateY(0);
  }
  
  .image-description {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    text-decoration: none;
    font-size: 25px;
    font-weight: bold;
    font-style: none;
  }