* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: 'K2D', sans-serif;
    background: #1e1e2f;
    letter-spacing: 1px;
}

.container {
    max-width: 650px;
    margin: 50px auto;
}

p {
    font-weight: 300;
    line-height: 1.5;
    font-size: 14px;
    opacity: .8;
}

.timeline {
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    color: white;
}

.timeline-container {
    position: relative;
    width: 80%;
    margin-bottom: 2.5rem;
}

.timeline-body {
    background: #27293d;
    border-radius: 3px;
    padding: 20px 20px 15px;
    box-shadow: 1px 3px 9px rgba(0,0,0, .1);
}

.timeline-title {
    margin-bottom: 1.4rem;
    padding: 4px 8px;
    border-radius: 3px;
    font-size: 12px;
    font-weight: bold;
}

.timeline-subtitle {
    font-weight: 300;
    font-style: italic;
    opacity: .4;
    margin-top: 16px;
    font-size: 11px;
}